---
import ThemeToggler from "./ThemeToggler.astro";
---

<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>

        <li>
            <a href="/">About</a>
        </li>

        <li>
            <a href="/">Blog</a>
        </li>

        <li>
            <a href="/">Projects</a>
        </li>
    </ul>
    <ThemeToggler />
</nav>

<style>
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: flex;
            font-size: 0 1rem;
            a {
                padding: 0.5rem 1rem;
                border-radius: 10px;
                text-decoration: none;
                color: var(--grey-600);
            }
        }
    }
}
  </style>